<nz-breadcrumb>
    <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a>Quản lý cơ sở</a>
    </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="container">
    <nz-card>
        <div class="content">
            <div class="title">
                <div></div>
                <h3>Quản lý cơ sở</h3>
                <div>
                    <button
                        nz-button
                        nzType="primary"
                        (click)="negative('add-user')">
                        <i nz-icon nzType="plus"></i>
                        Thêm mới
                    </button>
                </div>
            </div>
            <nz-table
                #sortTable
                [nzData]="listOfData"
                nzTableLayout="fixed"
                [nzPageSize]="pagesize"
                [nzShowPagination]="true"
                [nzShowSizeChanger]="true"
                [nzPageSizeOptions]="[6, 8, 10]"
                [nzLoading]="isLoading"
                nzSize="small"
                [nzScroll]="{x: '500px'}"
            >
                <thead>
                <tr>
                    <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare"
                        [nzSortPriority]="column.priority">
                        {{ column.title }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of sortTable.data">
                    <td>{{ data.id }}</td>
                    <td>{{ data.user_name}}</td>
                    <td>{{getFullName(data.firstName, data.lastName)}}</td>
                    <td>{{getRole(data.role)}}</td>
                    <td>
                        <div class="action-btns">
                            <button
                                class="add-btn"
                                nz-button
                                nzType="primary"
                                nzSize="small"
                                (click)="addNewWarehouse(tplContent, data.id, data.user_name)"
                            >Thêm mới nhà kho</button>
                            <button
                                class="edit-btn"
                                nz-button
                                nzType="primary"
                                nzDanger
                                nzSize="small"
                            >
                                Xóa
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
        <ng-template #tplContent let-params>
            <div>
                <span>Thêm mới kho hàng cho cơ sở: {{params.username}}</span>
            </div>
            <div>
                <label for="warehouse">Địa chỉ kho hàng :</label>
                <input id="warehouse" nz-input placeholder="Nhập địa chỉ kho hàng:" [(ngModel)]="address"/>
            </div>
        </ng-template>

    </nz-card>
</div>
