<nz-breadcrumb>
    <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a>Quản lý danh mục sản phẩm</a>
    </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="container">
    <nz-card>
        <div class="content">
            <div class="title">
                <div></div>
                <h3>Quản lý danh mục sản phẩm</h3>
                <button nz-button nzType="primary" (click)="negative('add-product-line')">
                    <i nz-icon nzType="plus"></i>
                    Thêm mới
                </button>
            </div>
            <nz-table
                #sortTable
                [nzData]="listOfData"
                nzTableLayout="fixed"
                [nzPageSize]="pagesize"
                [nzShowPagination]="true"
                [nzShowSizeChanger]="true"
                [nzPageSizeOptions]="[6, 8, 10]"
                [nzLoading]="isLoading"
                nzSize="small"
            >
                <thead>
                <tr>
                    <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare"
                        [nzSortPriority]="column.priority">
                        {{ column.title }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of sortTable.data">
                    <td>{{ data.name }}</td>
                    <td>{{ data.type ? getCarType(1) : getCarType(0) }}</td>
                    <td>{{ getCarCategory(data.categoryCar)}}</td>
                    <td>{{ data.engine }}</td>
                    <td>
                        <div class="action-btns">
                            <button
                                nz-button
                                nzType="primary"
                                nzSize="small"
                                (click)="negative('product-lines/' + data.id.toString())"
                            >Xem chi tiết</button>
                            <button
                                nz-button
                                nzType="primary"
                                nzSize="small" nzDanger
                                (click)="onDelete(data.id)">Xóa</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-card>
</div>
