<h1>Sản phẩm không thể sửa chữa</h1>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="thing">
    <nz-form-item *ngFor="let control of listOfControl; let i = index">
        <nz-form-label [nzXs]="24" [nzSm]="4" *ngIf="i === 0" [nzFor]="control.controlInstance">
            ProductID
        </nz-form-label>
        <nz-form-control
            [nzXs]="24"
            [nzSm]="20"
            [nzOffset]="i === 0 ? 0 : 4"
            nzErrorTip="Please input passenger's name or delete this field."
        >
            <input
                class="passenger-input"
                nz-input
                placeholder="ID please"
                [attr.id]="control.id"
                [formControlName]="control.controlInstance"
            />
            <span
                nz-icon
                nzType="minus-circle-o"
                class="dynamic-delete-button"
                (click)="removeField(control, $event)"
            ></span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
            <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
                <span nz-icon nzType="plus"></span>
                Add more
            </button>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzSm]="{ span: 12, offset: 4 }">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select ID factory" [(ngModel)]="selectedValue">
                <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
            <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
    </nz-form-item>
</form>
