<nz-breadcrumb>
    <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
    <nz-breadcrumb-item (click)="back()">
        <a>Quản lý danh mục sản phẩm</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a>Chi tiết danh mục sản phẩm</a>
    </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="container">
    <nz-card>
        <form nz-form [formGroup]="productLineForm" (ngSubmit)="updateProductDetail()">
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzFor="name">Dòng sản phẩm</nz-form-label>
                        <nz-form-control>
                            <input id="name" nz-input formControlName="name">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzFor="type">Loại sản phẩm</nz-form-label>
                        <nz-form-control>
                            <nz-select id="type" formControlName="type" nzShowSearch nzAllowClear
                                       nzPlaceHolder="Chọn loại sản phẩm">
                                <nz-option *ngFor="let productType of carType" [nzLabel]="productType.label"
                                           [nzValue]="productType.value"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label nzFor="categoryCar">Phân khúc xe</nz-form-label>
                        <nz-form-control >
                            <nz-select id="categoryCar" formControlName="categoryCar" nzShowSearch nzAllowClear
                                       nzPlaceHolder="Chọn phân khúc xe">
                                <nz-option *ngFor="let carCategory of carCategories" [nzLabel]="carCategory.label"
                                           [nzValue]="carCategory.value"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="4">
                    <nz-form-item>
                        <nz-form-label nzFor="length">Chiều dài</nz-form-label>
                        <nz-form-control>
                            <input id="length" nz-input formControlName="lenght"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="4">
                    <nz-form-item>
                        <nz-form-label nzFor="width">Chiều rộng</nz-form-label>
                        <nz-form-control>
                            <input id="width" nz-input formControlName="width"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="4">
                    <nz-form-item>
                        <nz-form-label nzFor="power">Sức mạnh</nz-form-label>
                        <nz-form-control>
                            <input id="power" nz-input formControlName="power"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                    <nz-form-item>
                        <nz-form-label nzFor="engine">Động cơ</nz-form-label>
                        <nz-form-control>
                            <input id="engine" nz-input formControlName="engine"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                    <nz-form-item>
                        <nz-form-label nzFor="displacement">Dung tích xi lanh</nz-form-label>
                        <nz-form-control>
                            <input id="displacement" nz-input formControlName="displacement"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                    <nz-form-item>
                        <nz-form-label nzFor="gearbox">Hộp số</nz-form-label>
                        <nz-form-control>
                            <input id="gearbox" nz-input formControlName="gearbox"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                    <nz-form-item>
                        <nz-form-label nzFor="seats">Chỗ ngồi</nz-form-label>
                        <nz-form-control>
                            <input id="seats" nz-input formControlName="seats"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="18">
                    <nz-form-item>
                        <nz-form-label nzFor="description">Mô tả</nz-form-label>
                        <nz-form-control>
                            <textarea id="description" nz-input formControlName="description" rows="6"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="6">
                    <nz-form-item>
                        <nz-form-label>Ảnh</nz-form-label>
                        <nz-form-control>
                            <nz-form-control>
                                <img nz-image class="img-car" nzSrc="{{productLineForm.get('imgUrl')?.value}}">
                            </nz-form-control>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzSpan]="16"></div>
                <div nz-col [nzSpan]="8" class="btn-updates">
                    <button nz-button nzType="default" (click)="back()">Trở lại</button>
                    <button nz-button nzType="primary" *ngIf="canSave" class="btn-save" (click)="save()">Lưu thay đổi</button>
                    <button nz-button nzType="primary" *ngIf="!canSave" (click)="unableSave($event)">Cập nhật</button>
                    <button nz-button nzType="primary" nzDanger (click)="delete($event)">Xóa dòng sản phẩm này</button>
                </div>
            </div>
        </form>
    </nz-card>
</div>
