<nz-breadcrumb>
    <nz-breadcrumb-item>Factory</nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a>Xuất sản phẩm cho đại lý</a>
    </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="container">
    <nz-card>
        <div class="content">
            <div class="title">
                <div></div>
                <h3>Danh sách sản phẩm</h3>
                <div></div>
            </div>
            <nz-table
                #sortTable
                [nzData]="listOfData"
                nzTableLayout="fixed"
                [nzPageSize]="pagesize"
                [nzShowPagination]="true"
                [nzShowSizeChanger]="true"
                [nzPageSizeOptions]="[6, 8, 10]"
                [nzLoading]="isLoading"
                nzSize="small"
            >
                <thead>
                <tr>
                    <th
                        [nzChecked]="checked"
                        [nzIndeterminate]="indeterminate"

                    ></th>
                    <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare"
                        [nzSortPriority]="column.priority">
                        {{ column.title }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of sortTable.data">
                    <td
                        [nzChecked]="setOfCheckedId.has(data.product_id)"
                        (nzCheckedChange)="updateCheckedSet(data.product_id, $event)"
                    ></td>
                    <td>{{ data.productCode }}</td>
                    <td>{{ data.productBatchId }}</td>
                    <td>{{ data.productDetailId }}</td>
                    <td>{{ data.warrantyPeriod }}</td>
                </tr>
                </tbody>
            </nz-table>

            <div class="action-btns">
                <nz-select nzPlaceHolder="Chọn đại lý nhận xe" [(ngModel)]="agentUserId">
                    <nz-option *ngFor="let agent of listOfAgentUser" [nzLabel]="agent.user_name"
                               [nzValue]="agent.id"></nz-option>
                </nz-select>
                <button
                    nz-button
                    nzType="primary"
                    (click)="sendProductToAgent()"
                >Xuất kho</button>
            </div>
        </div>
    </nz-card>
</div>
