<nz-breadcrumb>
    <nz-breadcrumb-item>Factory</nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a>Xuất sản phẩm cho đại lý</a>
    </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="container">
    <nz-card>
        <div class="content">
            <div class="title">
                <div></div>
                <h3>Danh sách sản phẩm</h3>
                <div></div>
            </div>
            <nz-table
                #sortTable
                [nzData]="listOfData"
                nzTableLayout="fixed"
                [nzPageSize]="pagesize"
                [nzShowPagination]="true"
                [nzShowSizeChanger]="true"
                [nzPageSizeOptions]="[6, 8, 10]"
                [nzLoading]="isLoading"
                nzSize="small"
            >
                <thead>
                <tr>
                    <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare"
                        [nzSortPriority]="column.priority">
                        {{ column.title }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of sortTable.data">
                    <td>{{ data.productCode }}</td>
                    <td>{{ data.productBatchId }}</td>
                    <td>{{ data.product_name }}</td>
                </tr>
                </tbody>
            </nz-table>

            <div class="action-btns">
                <nz-select nzPlaceHolder="Chọn đại lý nhận xe"></nz-select>
                <button nz-button nzType="primary">Xuất kho</button>
            </div>
        </div>
    </nz-card>
</div>
